
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  cursor: none;
  position: relative;
  transition: background-color 4s ease; /* Add transition for smooth background color change */
}
.tableWithBoxShadow {
  transition: box-shadow 1.5s ease-in-out; /* Smooth transition for the box-shadow */
}

.tableWithBoxShadow {
  box-shadow: 0 4px 8px rgba(0.4, 0.4, 0.4, 0.4); /* Define the desired box-shadow */
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensures it doesn't interfere with other elements */
  z-index: 1;
}

.cursor-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  z-index: 1001;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.cursor-outline {
  background-color: rgba(0, 0, 0, 0.5);
  height: 30px;
  width: 30px;
  z-index: 1000;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: transform 0.15s ease; /* Smooth transition */
}


.cursor-dot,.cursor-outline{
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  z-index: 1001;
  pointer-events: none;
}
.cursor-outline.click-animation {
  transform: scale(1.5); /* Increase the size */
  transition: transform 0.15s ease; /* Ensure the transition is smooth */
}

.App {
  text-align: center;
  padding-top: 120px; /* Adjust this value to match the header height */
}



header {
  /* background: rgba(51, 51, 51, 0.8); Use rgba() to set a translucent background */
  background-color: darkblue;
  color: white; 
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 110px; /* Fixed height to prevent resizing */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Translucent black overlay */
  z-index: -1; /* Ensure the overlay is behind the content */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure nav items are centered vertically */
}

nav ul li {
  margin: 0 2rem ;
  margin-bottom: 20vh;

}
.headop {
  animation: slideIn5 1s ease forwards;
  border: 2px solid white;
  width: 10%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.headop:hover {
  background-color: white;
  color: #333;
  transform: scale(1.07);
}


.headop a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.headop-mob {
  animation: slideIn5 1s ease forwards;
  border: 2px solid white;
  width: 20%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.headop-mob:hover {
  background-color: white;
  color: #333;
  transform: scale(1.07);
}


.headop-mob a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, font-size 0.3s ease;
}


.letter {
  display: inline-block;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header-scrolled {
  height: 40px; /* Reduced height when scrolled */
  background-position: center 10%; /* Adjust the background image position when scrolled */
}

.animated-heading {
  font-weight: bold;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.heading-scrolled {
  transform: translateY(-100%); /* Slide up out of view */
  opacity: 0; /* Fade out */
}

.header-scrolled .headers-nav ul {
  transform: translateY(-70px); /* Adjust this value as needed */
}

.header-scrolled .headers-nav ul li {
  transform: translateY(-70px); /* Adjust this value as needed */
}

.headers-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: transform 0.3s ease; /* Smooth transition for ul */
}

.headers-nav ul li {
  margin: 0 2rem;
  transition: transform 0.3s ease; /* Smooth transition for li */
}
.vertical-timeline-element--education .vertical-timeline-element-content {
    padding: 30px; /* Ensure padding inside the element is sufficient */
    border: 2px solid #000; /* Border color */
    border-radius: 12px; /* Optional: for rounded corners */
    margin-bottom: 20px; /* Space between timeline elements */
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

.journey {
  padding: 20px;
}
.vertical-timeline-element .vertical-timeline-element-date {
  position: relative;
  left: 10px !important; /* Adjust the left value to move the date closer to the icon */
  transform: translateX(0) !important; /* Ensures the date moves only on X-axis */
}
.vertical-timeline-element--education .vertical-timeline-element-content {
  padding: 30px;
  border: 2px solid #000;
  border-radius: 12px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}



.vertical-timeline-element-date {
  position: relative;
  left: -100px;
  transform: translateX(0);
}

.buttons-container {
  margin-top: 10px;
}

.learn-more-button {
  background: linear-gradient(to right, #333 50%, #333 50%);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  margin-right: 10px; /* Add some spacing between buttons */
  transition: background-color 0.3s ease, transform 0.6s ease; 
}


.learn-more-button:hover {
  background-color: hsla(0, 89%, 17%, 0.381);
  transform: scale(1.2);
}

.learn-more-button-mob {
  background: linear-gradient(to right, #333 50%, #333 50%);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  margin-right: 10px; /* Add some spacing between buttons */
  transition: background-color 0.3s ease, transform 0.6s ease; 
}


.learn-more-button-mob:hover {
  background-color: hsla(0, 89%, 17%, 0.381);
  transform: scale(1.2);
}
.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 10px;
  height: 20px; /* Adjust the height as needed */
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 1s ease-in-out;
}


.learn-more-button {
  background: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.learn-more-button:hover {
  background-color: #555;
}
.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.icons-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; /* Adjust the gap between icons as needed */
  margin-top: 10px;
}

.icons-container-mob {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* Adjust the gap between icons as needed */
  margin-top: 10px;
}

.tech-icon {
  width: 50px; /* Adjust the size of the icons as needed */
  height: 50px;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.tech-icon:hover {
  transform: scale(1.2); /* Scale up the icon on hover */
}

.tech-icon-mob {
  width: 30px; /* Adjust the size of the icons as needed */
  height: 30px;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.tech-icon-mob:hover {
  transform: scale(1.2); /* Scale up the icon on hover */
}
.slideIn1 {
  animation: slideIn4 2s ease forwards;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.contact-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 41.1vw;
}

.contact-button {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  background-color: darkblue;
  color: white;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
  background-color: grey;
  color: black;
  transform: scale(1.1);
}

.tableWithBoxShadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}


/* animations */

@keyframes underlineAnimation {
  to {
    width: 100%; /* Underline extends from left to right */
  }
}

@keyframes slideIn1 {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideIn2 {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideIn3 {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideIn4 {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideIn5 {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}